# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---
name: Post-Merge CI Pipeline

on:
  push:
    branches:
      - main
      - release-*
  workflow_dispatch:

permissions:
  contents: read

jobs:
  pre-checks:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    outputs:
      filtered_files: ${{ steps.check-files.outputs.filtered_files }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: false
      - name: "Discover Changed Files"
        id: discover-changed-files
        uses: open-edge-platform/orch-ci/discover-changed-files@467367d6f859a4654f2645ca78efd60035cf390c  # 2026.0.8
        with:
          project_folder: "."
      - name: "Filter Out Unwanted Changed Files"
        id: check-files
        env:
          changed_files: ${{ steps.discover-changed-files.outputs.changed_files }}
        run: |
          file_paths_to_remove=$(find .github)
          file_paths_to_remove+=$(find LICENSES)

          files_to_remove=$(echo "$file_paths_to_remove" | jq -R . | jq -s -c .)
          filtered_files=$(echo "$changed_files" | jq -cr --argjson files_to_remove "$files_to_remove" 'map(select(. as $item | $files_to_remove | index($item) | not))')
          echo "filtered_files=${filtered_files}" >> ${GITHUB_OUTPUT}
  post-merge:
    permissions:
      # it combines `read-all` with `contents: write` and `security-events: write` - all of them needed by `post-merge.yml` workflow
      contents: write
      actions: read
      attestations: read
      checks: read
      deployments: read
      id-token: write
      issues: read
      models: read
      discussions: read
      packages: read
      pages: read
      pull-requests: read
      repository-projects: read
      security-events: write
      statuses: read
    needs: pre-checks
    if: ${{ needs.pre-checks.outputs.filtered_files != '[]' && needs.pre-checks.outputs.filtered_files != '[""]' }}
    uses: open-edge-platform/orch-ci/.github/workflows/post-merge.yml@8fc2349c02d438e1707f99343069963fb49d3eba  # 2026.0.6
    with:
      run_version_check: true
      run_version_tag: true
      bootstrap_tools: "go,gotools,nodejs,python,golangci-lint2,helm,shellcheck,hadolint,yq,jq,protolint"
      run_dep_version_check: false
      cache_go: true
      run_build: true
      # run_lint and run_test - to have full, reusable cache for all PRs
      # https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/caching-dependencies-to-speed-up-workflows#restrictions-for-accessing-a-cache
      run_lint: true
      run_test: true
      remove_cache_go: true
      run_docker_build: true
      run_docker_push: true
      run_helm_build: true
      run_helm_push: true
      run_version_dev: false
    secrets:
      SYS_EMF_GH_TOKEN: ${{ secrets.SYS_EMF_GH_TOKEN }}
      NO_AUTH_ECR_PUSH_USERNAME: ${{ secrets.NO_AUTH_ECR_PUSH_USERNAME }}
      NO_AUTH_ECR_PUSH_PASSWD: ${{ secrets.NO_AUTH_ECR_PUSH_PASSWD }}
      MSTEAMS_WEBHOOK: ${{ secrets.TEAMS_WEBHOOK }}
