# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

name: Pre-Merge CI Pipeline

on:
  pull_request:
    branches:
      - main
      - release-*
  workflow_dispatch:

permissions: {}

jobs:
  pre-merge:
    permissions:
      contents: write
    uses: open-edge-platform/orch-ci/.github/workflows/pre-merge.yml@31986a986cab0a87721ecb694388029e94e55ff7 # 0.1.8
    with:
      run_reuse_check: true
      run_version_check: true
      bootstrap_tools: "go,gotools,nodejs,python,golangci-lint2,helm,shellcheck,hadolint,yq,jq,protolint"
      run_dep_version_check: false
      cache_go: true
      run_build: true
      run_lint: true
      run_test: true
      remove_cache_go: true
      run_validate_clean_folder: false
      run_docker_build: true
      run_helm_build: true
      run_artifact: true
      artifacts_path: |
        ./build/coverage.out
        ./build/coverage.xml
    secrets: inherit
